/*
    aboutus.css
    Name: Jason Graham
    Date: 09/01/16
*/

section.module {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("../images/background3.png");
    background-color: #fff;
}

table,
th,
td {
    border: 1px solid #fff;
    border-collapse: collapse;
}

table {
    padding-bottom: 10px;
}

.left {
    float: left;
    max-width: 40%;
    padding-bottom: 10px;
}

.right {
    float: right;
    max-width: 40%;
    padding-bottom: 10px;
}

section.content {
    padding-bottom: 30px;
}