/*
    staff.css
    Name: Jason Graham
    Date: 09/01/16
*/

section.module {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("../images/background4.png");
    background-color: #fff;
    background-position: 50% 10%;
}

figure {
    padding-left: -500px;
}

table,
th,
td {
    border: 1px solid #fff;
    border-collapse: collapse;
}

table {
    padding-bottom: 10px;
    width: 100%;
}

.left {
    float: left;
    max-width: 45%;
    padding-bottom: 10px;
    padding-right: 5px;
}

img {
    float: left;
    padding-right: 5px;
}

.right {
    float: right;
    max-width: 45%;
    padding-bottom: 10px;
    padding-left: 5px;
}

section.content {
    padding-bottom: 30px;
}